In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\Admin\\anaconda3\\envs\\SparkEnvironment\\Lib\\site-packages\\pyspark'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = (
    SparkSession
    .builder
    .appName("MultiDataSetApp")
    .master("local[4]")
    .config("spark.dynamicAloocation.enabled", "false")
    .getOrCreate()
)

sc = spark.sparkContext

spark

In [3]:
# Create schema for Yellow Taxi Data
 
taxiSchema = (
                    StructType
                    ([ 
                        StructField("VendorId"               , IntegerType()   , True),
                        StructField("lpep_pickup_datetime"   , TimestampType() , True),
                        StructField("lpep_dropoff_datetime"  , TimestampType() , True),                            
                        StructField("passenger_count"        , DoubleType()    , True),
                        StructField("trip_distance"          , DoubleType()    , True),
                        StructField("RatecodeID"             , DoubleType()    , True),                            
                        StructField("store_and_fwd_flag"     , StringType()    , True),
                        StructField("PULocationID"           , IntegerType()   , True),
                        StructField("DOLocationID"           , IntegerType()   , True),                            
                        StructField("payment_type"           , IntegerType()   , True),                            
                        StructField("fare_amount"            , DoubleType()    , True),
                        StructField("extra"                  , DoubleType()    , True),
                        StructField("mta_tax"                , DoubleType()    , True),
                        StructField("tip_amount"             , DoubleType()    , True),
                        StructField("tolls_amount"           , DoubleType()    , True),
                        StructField("improvement_surcharge"  , DoubleType()    , True),
                        StructField("total_amount"           , DoubleType()    , True),
                        StructField("congestion_surcharge"   , DoubleType()    , True),
                        StructField("airport_fee"            , DoubleType()    , True)
                    ])
               )

In [4]:
yellowTaxiDf = (
    spark
    .read
    .option("header", "true")
    .schema(taxiSchema)
    .csv("C:\DataFiles\YellowTaxis_202210.csv")
)
yellowTaxiDf.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [5]:
yellowTaxiDf.createOrReplaceTempView("yellowTaxis")

In [6]:
taxiZoneSchema = "LocationID INT, Borough STRING, Zone STRING, serviceZone STRING"

taxiZonesDf = (
    spark
    .read
    .schema(taxiZoneSchema)
    .csv("C:\DataFiles\TaxiZones.csv")
)

taxiZonesDf.createOrReplaceTempView("TaxiZones")
taxiZonesDf.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- serviceZone: string (nullable = true)

In [8]:
joinedDf = (
    yellowTaxiDf,
    .join
    (
        taxiZonesDf,
        yellowTaxiDf.PULocationID == taxiZonesDF.LocationID
        "inner"
    )
)
joinedDf.printSchema()

SyntaxError: invalid syntax (3118549280.py, line 3)

In [11]:
driversDf = (
    spark
    .read
    .option("header", "true")
    .option("inferSchema", "true")
    .csv("C:\DataFiles\Drivers.csv")
)

driversDf.createOrReplaceTempView("drivers")
driversDf.printSchema()
driversDf.show()

root
 |-- DriverLicenseNumber: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- ExpirationDate: string (nullable = true)
 |-- LastDateUpdated: string (nullable = true)

+-------------------+--------------------+--------------------+--------------+---------------+
|DriverLicenseNumber|                Name|                Type|ExpirationDate|LastDateUpdated|
+-------------------+--------------------+--------------------+--------------+---------------+
|            5430898|   ABDEL-BAR,ESLAM,M|MEDALLION TAXI DR...|    04/12/2023|     04/22/2020|
|            5363749|ABDOUSAMADOV,ALIC...|MEDALLION TAXI DR...|    06/01/2020|     04/22/2020|
|            5534446|  ABDUHALIKOV,RUSTAM|MEDALLION TAXI DR...|    06/16/2020|     04/22/2020|
|            5935702|   ABDULLAEV,JONIBEK|MEDALLION TAXI DR...|    03/14/2022|     04/22/2020|
|            5255097|ABDULNABI,MASHHOUR,H|MEDALLION TAXI DR...|    03/16/2021|     04/22/2020|
|            5778633|ABDUSALOMOV,IKROMJON|MEDALLION TAXI DR...|    06/02/2023|     04/22/2020|
|            5934755|ABDUVOKHIDOV,MURO...|MEDALLION TAXI DR...|    02/27/2022|     04/22/2020|
|             443085|         ABEDIN,MD,J|MEDALLION TAXI DR...|    11/28/2020|     04/22/2020|
|            5206734|ABUAL-AINAIN,OSAMA,S|MEDALLION TAXI DR...|    07/06/2020|     04/22/2020|
|            5891245|      ABUTIDZE,LEVAN|MEDALLION TAXI DR...|    09/11/2021|     04/22/2020|
|            5939698|ADAMES DICENT,HEC...|MEDALLION TAXI DR...|    06/27/2022|     04/22/2020|
|            5856128|     AGLAGUEL,ADNANE|MEDALLION TAXI DR...|    03/20/2021|     04/22/2020|
|            5702245|      AHAMED,TANVEER|MEDALLION TAXI DR...|    06/30/2022|     04/22/2020|
|            5596480|AHMAD,FIRAS,HAMAM...|MEDALLION TAXI DR...|    05/11/2022|     04/22/2020|
|            5570416|      AHMAD,IFTEKHAR|MEDALLION TAXI DR...|    12/04/2020|     04/22/2020|
|            5526240|        AHMAD,JAWAID|MEDALLION TAXI DR...|    04/22/2023|     04/22/2020|
|            5741789|         AHMAD,MALAK|MEDALLION TAXI DR...|    01/20/2023|     04/22/2020|
|            5448948|        AHMAD,SABBIR|MEDALLION TAXI DR...|    11/20/2020|     04/22/2020|
|             439779|      AHMAD,ZULFEQAR|MEDALLION TAXI DR...|    05/21/2022|     04/22/2020|
|            5895140|AHMED KHAN,MOHAMM...|MEDALLION TAXI DR...|    10/23/2021|     04/22/2020|
+-------------------+--------------------+--------------------+--------------+---------------+
only showing top 20 rows

In [13]:
cabsDf = (
    spark
    .read
    .option("header", "true")
    .option("inferSchema", "true")
    .csv("C:\DataFiles\Cabs.csv")
)

cabsDf.createOrReplaceTempView("cabs")
cabsDf.printSchema()
cabsDf.show()

root
 |-- CabNumber: string (nullable = true)
 |-- VehicleLicenseNumber: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- LicenseType: string (nullable = true)
 |-- Active: string (nullable = true)
 |-- PermitLicenseNumber: string (nullable = true)
 |-- VehicleVinNumber: string (nullable = true)
 |-- WheelchairAccessible: string (nullable = true)
 |-- VehicleYear: integer (nullable = true)
 |-- VehicleType: string (nullable = true)
 |-- TelephoneNumber: string (nullable = true)
 |-- Website: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- LastDateUpdated: string (nullable = true)

+---------+--------------------+--------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------+--------------------+---------------+
|CabNumber|VehicleLicenseNumber|                Name|     LicenseType|Active|PermitLicenseNumber| VehicleVinNumber|WheelchairAccessible|VehicleYear|VehicleType|TelephoneNumber|             Website|             Address|LastDateUpdated|
+---------+--------------------+--------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------+--------------------+---------------+
| T802127C|              C19641|          ABCON INC.|OWNER MUST DRIVE|   YES|               NULL|5TDBK3EH0DS268018|                NULL|       2016|       NULL|  (718)438-1100|                NULL|41-24   38 STREET...|     04/22/2020|
| T525963C|             5362996| ACCEPTABLE TAXI LLC|    NAMED DRIVER|   YES|               NULL|JTDZN3EU1GJ044907|                NULL|       2016|       NULL|  (718)375-1001|                NULL|2395 CONEY ISLAND...|     04/22/2020|
| T457353C|             5122403|      ALLIS CAB CORP|    NAMED DRIVER|   YES|               NULL|4T1BD1FK9FU150746|                NULL|       2013|       NULL|  (212)927-4600|                NULL|2400 AMSTERDAM AV...|     04/22/2020|
| T606373C|             5386507|       BENE CAB CORP|    NAMED DRIVER|   YES|              AC992|4T1BD1FK1EU137360|                NULL|       2015|       NULL|  (718)472-9800|                NULL|29 - 10   36 AVEN...|     04/22/2020|
| T451536C|             5143151|   BOULOS TAXI CORP.|    NAMED DRIVER|   YES|               NULL|4T1BD1FK8FU142430|                NULL|       2017|       NULL|  (718)971-5639|                NULL|636 WEST   28 STR...|     04/22/2020|
| T500313C|             5268004|     CACERES,JAIME,P|OWNER MUST DRIVE|   YES|               NULL|4T1BF1FK8FU477889|                NULL|       2015|       NULL|  (516)861-2019|                NULL|62 MAIN STREET PT...|     04/22/2020|
| T484321C|             5238526|CALCIUM ONE SERVI...|    NAMED DRIVER|   YES|               NULL|4T1BD1FK4FU176834|                NULL|       2017|       NULL|  (718)971-5559|WWW.DRIVEUBERNYC.COM|636 WEST   28 STR...|     04/22/2020|
| T663612C|             5386120|     CHARLES,WILBERT|OWNER MUST DRIVE|   YES|               NULL|JTMRJREV1HD120102|                NULL|       2015|       NULL|  (718)658-5700|                NULL|135-10 JAMAICA AV...|     04/22/2020|
| T725323C|             5171032|      CHAWKI,MICHAEL|OWNER MUST DRIVE|   YES|               NULL|1FMCU4K35AKA35795|                NULL|       2016|       NULL|  (646)665-3514|    DRIVEUBERNYC.COM|636 WEST   28 STR...|     04/22/2020|
| T519718C|             5330235|CHRYSOVALANTOU CORP,|    NAMED DRIVER|   YES|               NULL|4T1BD1FK4FU149276|                NULL|       2017|       NULL|  (718)515-5555|WWW.BESTDEALCARSE...|757 A BURKE AVENU...|     04/22/2020|
| T664587C|             5588056|     COFI BOAT CORP.|OWNER MUST DRIVE|   YES|               NULL|JTMRJREV5GD012564|                NULL|       2016|       NULL|  (212)666-6666|                NULL|2642 BROADWAY NY ...|     04/22/2020|
| ELITE346|              F37515| DEKEL TAXI CAB CORP|    NAMED DRIVER|   YES|               NULL|4T1BD1FK4FU163789|                NULL|       2019|       NULL|  (718)472-2300|                NULL|32-72 GALE AVENUE...|     04/22/2020|
| T621614C|             5453341|FLORIAN & ROBERT INC|    NAMED DRIVER|   YES|               NULL|JTDZN3EU3E3306122|                NULL|       2012|       NULL|  (718)543-0001|                NULL|3107 KINGSBRIDGE ...|     04/22/2020|
| T714073C|             5385905|       GART CAB CORP|    NAMED DRIVER|   YES|               NULL|3N8CM0JT9EK702820|                NULL|       2016|       NULL|  (718)971-5559|         ZWEINYC.COM|636 WEST   28 STR...|     04/22/2020|
| T655723C|             5553705|    GAUTHIER,JACQUES|OWNER MUST DRIVE|   YES|               NULL|1FMCU4K35CKA37551|                NULL|       2016|       NULL|  (212)431-5555|                NULL|11-35   31 DRIVE ...|     04/22/2020|
| T600330C|              V75262|GEORGAKOPOULOS, G...|    NAMED DRIVER|   YES|               NULL|2FABP7AV7BX148809|                NULL|       2010|       NULL|  (646)665-7584|                NULL|636 WEST   28 STR...|     04/22/2020|
| T652698C|             5552919|      GUJAR CAB CORP|    NAMED DRIVER|   YES|               NULL|1FMCU4K35CKA85955|                NULL|       2015|       NULL|  (646)665-7540|     WWW.ELFNYC1.COM|636 WEST   28 STR...|     04/22/2020|
| T624038C|             5438429|     HUEZO, SALVADOR|OWNER MUST DRIVE|   YES|               NULL|3N8CM0JT3GK701911|                NULL|       2019|       NULL|  (646)665-7304|    DRIVEUBERNYC.COM|636 WEST   28 STR...|     04/22/2020|
| ELITE903|             5388274|   JEAN-PIERRE,SERGE|OWNER MUST DRIVE|   YES|               NULL|5TDZK3DCXGS706794|                NULL|       2014|       NULL|  (718)472-2300|                NULL|32-72 GALE AVENUE...|     04/22/2020|
| T487069C|             5250818|      JETS CAB CORP.|    NAMED DRIVER|   YES|               NULL|JTMRJREV8HD120663|                NULL|       2016|       NULL|  (646)665-7402|                NULL|636 WEST   28 STR...|     04/22/2020|
+---------+--------------------+--------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------+--------------------+---------------+
only showing top 20 rows

In [14]:
#create list of all drivers

(spark.sql("""
(
select Name from cabs where LicenseType = 'OWNER MUST DRIVE'
)
union
(select name from drivers)
""")
).count()

8970